/* base */
* {font-family:Arial, sans-serif; font-size:14px; font-weight:normal; font-style:normal; color:#454550; padding:0; margin:0; box-sizing:border-box;}
body {background:white; margin:100px;}
p {padding:8px 0;}
h1 {font-size:20px; color:#0005c2;}

.Victoire {font-size:20px; padding-left: 32px; color: #009900;}
.Defaite {font-size:20px; padding-left: 32px; color: #990000;}

/* game zone */
table {border-collapse:collapse;}
table td {border:solid 1px #888; padding:4px; text-align:center;}
.Vide {border:solid 0px #888; padding:4px; text-align:center;}

.pion {display:inline-block; width:20px; height:20px; border-radius:10px; border:solid 1px #888;}

.goodPlaceColor {display:inline-block; width:10px; height:10px; border-radius:5px; border:solid 1px #888; background:black;}
.goodColor {display:inline-block; width:10px; height:10px; border-radius:5px; border:solid 1px #888;}
